{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.
{ejabberd_domain, <<"localhost">>}.

{escalus_users, [
  {user_1, [
    {username, <<"user_1">>},
    {server, <<"localhost">>},
    {password, <<"pass_1">>}]},
  {user_2, [
    {username, <<"user_2">>},
    {server, <<"localhost">>},
    {password, <<"pass_2">>}]},
  {user_3, [
    {username, <<"user_3">>},
    {server, <<"localhost">>},
    {password, <<"pass_3">>}]},
  {user_4, [
    {username, <<"user_4">>},
    {server, <<"localhost">>},
    {password, <<"pass_4">>}]},
  {user_5, [
    {username, <<"user_5">>},
    {server, <<"localhost">>},
    {password, <<"pass_5">>}]},
  {user_6, [
    {username, <<"user_6">>},
    {server, <<"localhost">>},
    {password, <<"pass_6">>}]},
  {user_7, [
    {username, <<"user_7">>},
    {server, <<"localhost">>},
    {password, <<"pass_7">>}]},
  {user_8, [
    {username, <<"user_8">>},
    {server, <<"localhost">>},
    {password, <<"pass_8">>}]},
  {user_9, [
    {username, <<"user_9">>},
    {server, <<"localhost">>},
    {password, <<"pass_9">>}]},
  {user_10, [
    {username, <<"user_10">>},
    {server, <<"localhost">>},
    {password, <<"pass_10">>}]},
  {user_11, [
    {username, <<"user_11">>},
    {server, <<"localhost">>},
    {password, <<"pass_11">>}]},
  {user_12, [
    {username, <<"user_12">>},
    {server, <<"localhost">>},
    {password, <<"pass_12">>}]},
  {user_13, [
    {username, <<"user_13">>},
    {server, <<"localhost">>},
    {password, <<"pass_13">>}]},
  {user_14, [
    {username, <<"user_14">>},
    {server, <<"localhost">>},
    {password, <<"pass_14">>}]},
  {user_15, [
    {username, <<"user_15">>},
    {server, <<"localhost">>},
    {password, <<"pass_15">>}]},
  {user_16, [
    {username, <<"user_16">>},
    {server, <<"localhost">>},
    {password, <<"pass_16">>}]},
  {user_17, [
    {username, <<"user_17">>},
    {server, <<"localhost">>},
    {password, <<"pass_17">>}]},
  {user_18, [
    {username, <<"user_18">>},
    {server, <<"localhost">>},
    {password, <<"pass_18">>}]},
  {user_19, [
    {username, <<"user_19">>},
    {server, <<"localhost">>},
    {password, <<"pass_19">>}]},
  {user_20, [
    {username, <<"user_20">>},
    {server, <<"localhost">>},
    {password, <<"pass_20">>}]},
  {user_21, [
    {username, <<"user_21">>},
    {server, <<"localhost">>},
    {password, <<"pass_21">>}]},
  {user_22, [
    {username, <<"user_22">>},
    {server, <<"localhost">>},
    {password, <<"pass_22">>}]},
  {user_23, [
    {username, <<"user_23">>},
    {server, <<"localhost">>},
    {password, <<"pass_23">>}]},
  {user_24, [
    {username, <<"user_24">>},
    {server, <<"localhost">>},
    {password, <<"pass_24">>}]},
  {user_25, [
    {username, <<"user_25">>},
    {server, <<"localhost">>},
    {password, <<"pass_25">>}]},
  {user_26, [
    {username, <<"user_26">>},
    {server, <<"localhost">>},
    {password, <<"pass_26">>}]},
  {user_27, [
    {username, <<"user_27">>},
    {server, <<"localhost">>},
    {password, <<"pass_27">>}]},
  {user_28, [
    {username, <<"user_28">>},
    {server, <<"localhost">>},
    {password, <<"pass_28">>}]},
  {user_29, [
    {username, <<"user_29">>},
    {server, <<"localhost">>},
    {password, <<"pass_29">>}]},
  {user_30, [
    {username, <<"user_30">>},
    {server, <<"localhost">>},
    {password, <<"pass_30">>}]},
  {user_31, [
    {username, <<"user_31">>},
    {server, <<"localhost">>},
    {password, <<"pass_31">>}]},
  {user_32, [
    {username, <<"user_32">>},
    {server, <<"localhost">>},
    {password, <<"pass_32">>}]},
  {user_33, [
    {username, <<"user_33">>},
    {server, <<"localhost">>},
    {password, <<"pass_33">>}]},
  {user_34, [
    {username, <<"user_34">>},
    {server, <<"localhost">>},
    {password, <<"pass_34">>}]},
  {user_35, [
    {username, <<"user_35">>},
    {server, <<"localhost">>},
    {password, <<"pass_35">>}]},
  {user_36, [
    {username, <<"user_36">>},
    {server, <<"localhost">>},
    {password, <<"pass_36">>}]},
  {user_37, [
    {username, <<"user_37">>},
    {server, <<"localhost">>},
    {password, <<"pass_37">>}]},
  {user_38, [
    {username, <<"user_38">>},
    {server, <<"localhost">>},
    {password, <<"pass_38">>}]},
  {user_39, [
    {username, <<"user_39">>},
    {server, <<"localhost">>},
    {password, <<"pass_39">>}]},
  {user_40, [
    {username, <<"user_40">>},
    {server, <<"localhost">>},
    {password, <<"pass_40">>}]},
  {user_41, [
    {username, <<"user_41">>},
    {server, <<"localhost">>},
    {password, <<"pass_41">>}]},
  {user_42, [
    {username, <<"user_42">>},
    {server, <<"localhost">>},
    {password, <<"pass_42">>}]},
  {user_43, [
    {username, <<"user_43">>},
    {server, <<"localhost">>},
    {password, <<"pass_43">>}]},
  {user_44, [
    {username, <<"user_44">>},
    {server, <<"localhost">>},
    {password, <<"pass_44">>}]},
  {user_45, [
    {username, <<"user_45">>},
    {server, <<"localhost">>},
    {password, <<"pass_45">>}]},
  {user_46, [
    {username, <<"user_46">>},
    {server, <<"localhost">>},
    {password, <<"pass_46">>}]},
  {user_47, [
    {username, <<"user_47">>},
    {server, <<"localhost">>},
    {password, <<"pass_47">>}]},
  {user_48, [
    {username, <<"user_48">>},
    {server, <<"localhost">>},
    {password, <<"pass_48">>}]},
  {user_49, [
    {username, <<"user_49">>},
    {server, <<"localhost">>},
    {password, <<"pass_49">>}]},
  {user_50, [
    {username, <<"user_50">>},
    {server, <<"localhost">>},
    {password, <<"pass_50">>}]},
  {user_51, [
    {username, <<"user_51">>},
    {server, <<"localhost">>},
    {password, <<"pass_51">>}]},
  {user_52, [
    {username, <<"user_52">>},
    {server, <<"localhost">>},
    {password, <<"pass_52">>}]},
  {user_53, [
    {username, <<"user_53">>},
    {server, <<"localhost">>},
    {password, <<"pass_53">>}]},
  {user_54, [
    {username, <<"user_54">>},
    {server, <<"localhost">>},
    {password, <<"pass_54">>}]},
  {user_55, [
    {username, <<"user_55">>},
    {server, <<"localhost">>},
    {password, <<"pass_55">>}]},
  {user_56, [
    {username, <<"user_56">>},
    {server, <<"localhost">>},
    {password, <<"pass_56">>}]},
  {user_57, [
    {username, <<"user_57">>},
    {server, <<"localhost">>},
    {password, <<"pass_57">>}]},
  {user_58, [
    {username, <<"user_58">>},
    {server, <<"localhost">>},
    {password, <<"pass_58">>}]},
  {user_59, [
    {username, <<"user_59">>},
    {server, <<"localhost">>},
    {password, <<"pass_59">>}]},
  {user_60, [
    {username, <<"user_60">>},
    {server, <<"localhost">>},
    {password, <<"pass_60">>}]},
  {user_61, [
    {username, <<"user_61">>},
    {server, <<"localhost">>},
    {password, <<"pass_61">>}]},
  {user_62, [
    {username, <<"user_62">>},
    {server, <<"localhost">>},
    {password, <<"pass_62">>}]},
  {user_63, [
    {username, <<"user_63">>},
    {server, <<"localhost">>},
    {password, <<"pass_63">>}]},
  {user_64, [
    {username, <<"user_64">>},
    {server, <<"localhost">>},
    {password, <<"pass_64">>}]},
  {user_65, [
    {username, <<"user_65">>},
    {server, <<"localhost">>},
    {password, <<"pass_65">>}]},
  {user_66, [
    {username, <<"user_66">>},
    {server, <<"localhost">>},
    {password, <<"pass_66">>}]},
  {user_67, [
    {username, <<"user_67">>},
    {server, <<"localhost">>},
    {password, <<"pass_67">>}]},
  {user_68, [
    {username, <<"user_68">>},
    {server, <<"localhost">>},
    {password, <<"pass_68">>}]},
  {user_69, [
    {username, <<"user_69">>},
    {server, <<"localhost">>},
    {password, <<"pass_69">>}]},
  {user_70, [
    {username, <<"user_70">>},
    {server, <<"localhost">>},
    {password, <<"pass_70">>}]},
  {user_71, [
    {username, <<"user_71">>},
    {server, <<"localhost">>},
    {password, <<"pass_71">>}]},
  {user_72, [
    {username, <<"user_72">>},
    {server, <<"localhost">>},
    {password, <<"pass_72">>}]},
  {user_73, [
    {username, <<"user_73">>},
    {server, <<"localhost">>},
    {password, <<"pass_73">>}]},
  {user_74, [
    {username, <<"user_74">>},
    {server, <<"localhost">>},
    {password, <<"pass_74">>}]},
  {user_75, [
    {username, <<"user_75">>},
    {server, <<"localhost">>},
    {password, <<"pass_75">>}]},
  {user_76, [
    {username, <<"user_76">>},
    {server, <<"localhost">>},
    {password, <<"pass_76">>}]},
  {user_77, [
    {username, <<"user_77">>},
    {server, <<"localhost">>},
    {password, <<"pass_77">>}]},
  {user_78, [
    {username, <<"user_78">>},
    {server, <<"localhost">>},
    {password, <<"pass_78">>}]},
  {user_79, [
    {username, <<"user_79">>},
    {server, <<"localhost">>},
    {password, <<"pass_79">>}]},
  {user_80, [
    {username, <<"user_80">>},
    {server, <<"localhost">>},
    {password, <<"pass_80">>}]},
  {user_81, [
    {username, <<"user_81">>},
    {server, <<"localhost">>},
    {password, <<"pass_81">>}]},
  {user_82, [
    {username, <<"user_82">>},
    {server, <<"localhost">>},
    {password, <<"pass_82">>}]},
  {user_83, [
    {username, <<"user_83">>},
    {server, <<"localhost">>},
    {password, <<"pass_83">>}]},
  {user_84, [
    {username, <<"user_84">>},
    {server, <<"localhost">>},
    {password, <<"pass_84">>}]},
  {user_85, [
    {username, <<"user_85">>},
    {server, <<"localhost">>},
    {password, <<"pass_85">>}]},
  {user_86, [
    {username, <<"user_86">>},
    {server, <<"localhost">>},
    {password, <<"pass_86">>}]},
  {user_87, [
    {username, <<"user_87">>},
    {server, <<"localhost">>},
    {password, <<"pass_87">>}]},
  {user_88, [
    {username, <<"user_88">>},
    {server, <<"localhost">>},
    {password, <<"pass_88">>}]},
  {user_89, [
    {username, <<"user_89">>},
    {server, <<"localhost">>},
    {password, <<"pass_89">>}]},
  {user_90, [
    {username, <<"user_90">>},
    {server, <<"localhost">>},
    {password, <<"pass_90">>}]},
  {user_91, [
    {username, <<"user_91">>},
    {server, <<"localhost">>},
    {password, <<"pass_91">>}]},
  {user_92, [
    {username, <<"user_92">>},
    {server, <<"localhost">>},
    {password, <<"pass_92">>}]},
  {user_93, [
    {username, <<"user_93">>},
    {server, <<"localhost">>},
    {password, <<"pass_93">>}]},
  {user_94, [
    {username, <<"user_94">>},
    {server, <<"localhost">>},
    {password, <<"pass_94">>}]},
  {user_95, [
    {username, <<"user_95">>},
    {server, <<"localhost">>},
    {password, <<"pass_95">>}]},
  {user_96, [
    {username, <<"user_96">>},
    {server, <<"localhost">>},
    {password, <<"pass_96">>}]},
  {user_97, [
    {username, <<"user_97">>},
    {server, <<"localhost">>},
    {password, <<"pass_97">>}]},
  {user_98, [
    {username, <<"user_98">>},
    {server, <<"localhost">>},
    {password, <<"pass_98">>}]},
  {user_99, [
    {username, <<"user_99">>},
    {server, <<"localhost">>},
    {password, <<"pass_99">>}]},
  {user_100, [
    {username, <<"user_100">>},
    {server, <<"localhost">>},
    {password, <<"pass_100">>}]}
]}.
